@{
    ViewData["Title"] = "Home Page";
}
@model Survey
<style>
    .dojo-survey{
        background-color: #005f93;
        color: #fff;
        padding: 20px;
        border: 2px solid #3c3c3c;
        border-radius: 20px;
        margin-top: 5px;
    }
</style>

<form asp-action="surveyForm" method="post" class="form-group col-lg-6 dojo-survey">
    <h1>Dojo Survey</h1>
    <p>
        <p>
        <span asp-validation-for="YourName" class="text-danger"></span>
        </p>
        <label for="YourName"></label>
        <input asp-for="YourName" name="YourName" class="form-control"/>
    </p>
    <p>
        <p>
        <span asp-validation-for="DojoLocations" class="text-danger"></span>
        </p>
        <label for="DojoLocation">Dojo Location: </label>
        <select name="DojoLocations">
            <option value="">----Select One----</option>
            <option value="San Jose">San Jose</option>
            <option value="Tulsa">Tulsa</option>
            <option value="Chicago">Chicago</option>
        </select>
    </p>
        <span asp-validation-for="FavLang" class="text-danger"></span>
    </p>
        <p>
        <label for="FavLang">Favorite Language: </label>
         <select name="FavLang">
            <option value="">----Select One----</option>
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="ReactJs">ReactJs</option>
        </select>
    </p>
    <p>
        <label for="Comments"></label>
        <textarea asp-for="Comments"class="form-control">

        </textarea>
    </p>
    <input class="btn btn-success" type="submit" value="Create"/>
</form>